<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.entity.Sassess">
    <insert id="TassessAdd" parameterType="com.ssm.entity.Tassess" >
        insert into tassess values (#{tid1},#{cid},#{cname},#{tid},#{tname},#{question1},#{question2},#{question3},#{question4},#{question5});
    </insert>
    <delete id="TassessDelete" parameterType="java.util.Map" >
        delete from tassess where  tid=#{tid} and cid=#{cid} and tid1=#{tid1};
    </delete>
    <select id="FindAllTassess1" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1
        and  cname like concat('%',#{cname},'%') and tname like concat('%',#{tname},'%')  limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess2" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1
        and   tname like concat('%',#{tname},'%')  limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess3" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1
        and  cname like concat('%',#{cname},'%')   limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess4" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1  limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess5" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1
      and tid1=#{tid1} and  cname like concat('%',#{cname},'%') and tname like concat('%',#{tname},'%')  limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess6" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1
     and tid1=#{tid1}   and   tname like concat('%',#{tname},'%')  limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess7" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess  where 1=1
      and tid1=#{tid1}  and  cname like concat('%',#{cname},'%')   limit #{zongshu},#{pageSize}
    </select>
    <select id="FindAllTassess8" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
       select * from tassess  where 1=1   and tid1=#{tid1} limit #{zongshu},#{pageSize}
    </select>

    <select id="FindAllTassessNum1" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
        and  cname like concat('%',#{cname},'%') and tname like concat('%',#{tname},'%')
    </select>
    <select id="FindAllTassessNum2" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
        and   tname like concat('%',#{tname},'%')
    </select>
    <select id="FindAllTassessNum3" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
        and  cname like concat('%',#{cname},'%')
    </select>
    <select id="FindAllTassessNum4" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
    </select>
    <select id="FindAllTassessNum5" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
      and tid1=#{tid1} and  cname like concat('%',#{cname},'%') and tname like concat('%',#{tname},'%')
    </select>
    <select id="FindAllTassessNum6" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
     and tid1=#{tid1}   and   tname like concat('%',#{tname},'%')
    </select>
    <select id="FindAllTassessNum7" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from tassess  where 1=1
      and tid1=#{tid1}  and  cname like concat('%',#{cname},'%')
    </select>
    <select id="FindAllTassessNum8" parameterType="java.util.Map" resultType="java.lang.Integer">
       select count(*) from tassess  where 1=1   and tid1=#{tid1}
    </select>

    <select id="FindAllTassess" parameterType="java.lang.String" resultType="com.ssm.entity.Tassess">
       select * from tassess  where tid=#{tid} and cid=#{cid}
    </select>
    <select id="FindAllTassessNum"  resultType="java.lang.Integer">
    select count(*) from tassess
    </select>

    <select id="FindOneTassess" parameterType="java.util.Map" resultType="com.ssm.entity.Tassess">
        select * from tassess where tid=#{tid} and cid=#{cid} and tid1=#{tid1}
    </select>
</mapper>